<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://172.27.208.1:3306/pizza_planet</property>
        <property name="hibernate.connection.username">pizza_user</property>
        <property name="hibernate.connection.password">your_password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.pizza_planet.model.Pizza"/>
        <mapping class="com.pizza_planet.model.Topping"/>
        <!-- <mapping class="com.pizza_planet.model.Crust"/> -->
    </session-factory>        
</hibernate-configuration>